<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by Terry Brooks, Jr.</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://getbootstrap.com/docs/5.3/assets/css/docs.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="navbar navbar-main">
  <div class="row">
    <div class="container flex col-lg-3">
      <div class="dropdown">
        <button id="yo-mama-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img id="yo-mama-brand" src="https://cdn.jsdelivr.net/gh/Terry-BrooksJr/MindHealthCDN@9e332cf2c71dd4f7e75ccaef4520e2484ba10b30/images/1981605_1-removebg-preview%20(1).png" alt="Yo Mama Logo"></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">About The Dozens</a></li>
          <li>
            <a class="dropdown-item" href="#">
              API Documention &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
              <li>
                <a class="dropdown-item" href="#">Postman</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Swagger</a>
              </li>
            </ul>
          <li><a class="dropdown-item" href="#">About The Developer</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="joke" class="col-lg-3 yo-mama-joke">{{PLACEHOLDER}}</div>
  <div>
    <div class="col-lg-3">
      <button class="btn btn-large btn-outline-primary btn-light" type="button">New Joke</button>
    </div>
  </div>
</nav>
<main>

</main>
<footer>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</a></li>
      <li class="breadcrumb-item active"><a href="/api-doc">About the Dozensw</a></li>
      <li class="breadcrumb-item"><a href="/api-doc">API Documentation</a></li>
      <li class="breadcrumb-item"><a href="/api-doc">About the Creator</a></li>

    </ol>
  </nav>
</footer>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/3.2.0/js/fontawesome-iconpicker.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
<script src='https://kit.fontawesome.com/58e27c88da.js'></script>
</body>
</html>
